<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrega y Recepcion</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header class="header">
        <div class="logo">
            <h1>Automat.</h1>
            <span>entrega y recepcion de equipos</span>
        </div>
        <button id="btnScanner" class="btn-scanner"><!-- cambiar clase en css y el id -->
            Descargar Constancia
        </button>
    </header>
    <div class="layout">
        <aside class="sidebar">
            <nav>
                <a href="/" class="menu-item active">Dashboard</a>
            </nav>
        </aside>
        <main class="main">
            <section class="page-header">
                <div>
                    <h2>Dashboard</h2>
                    <p>Creacion de constancias para la entrega y la recepcion de equipos</p>
                </div>
            </section>
            <section>
                <h4>En este espacio va el formulario</h3>
            </section>
        </main>
    </div>
</body>
</html>